*.pyc
*.swp
*.log
*.json
*.png
*.ipynb
*.ipynb_checkpoints
*.ipynb_checkpoints/
*.ipynb_checkpoints*
*/Pipfile
*/Pipfile.lock
dist/
dist/*
build/
build/*
pyally.egg-info/
pyally.egg-info/*
venv/
sphinx/_build/
